/* authentication.css */

.authentication-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9; /* Vaalean harmaa tausta */
}

.authentication-form {
    background-color: lightblue;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(252, 251, 251, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.authentication-form h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

.authentication-form label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.9rem;
    color: #555;
}

.authentication-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 1rem;
}

.authentication-form button {
    width: 100%;
    padding: 10px;
    background-color: deeppink;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.authentication-form button:hover {
    background-color: rgb(253, 90, 177);
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 0.9rem;
}

.success-message {
    color: green;
    margin-top: 10px;
    font-size: 0.9rem;
}

/* Responsiivisuus */
@media (max-width: 768px) {
    .authentication-form {
        padding: 20px;
        max-width: 90%;
    }

    .authentication-form h2 {
        font-size: 1.3rem;
    }

    .authentication-form input,
    .authentication-form button {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .authentication-form {
        padding: 15px;
        max-width: 95%;
    }

    .authentication-form h2 {
        font-size: 1.2rem;
    }

    .authentication-form input,
    .authentication-form button {
        padding: 8px;
        font-size: 0.9rem;
    }
}
